.nav {
   padding: 15px;
   padding-top: 12px;
   padding-bottom: 20px;
   position: fixed;
   top: 0;
   height: 25px;
   background: transparent;
   width: 100%;
   display: flex;
   justify-content: space-between;
   z-index: 1;
   transition-timing-function: ease-in;
   transition: all 0.5s;
}
.nav_black {
   background: rgba(20, 20, 20, 0.98);
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
}
.nav_logo {
   position: fixed;
   width: 120px;
   left: 20;
   object-fit: contain;
}
.nav_avatar {
   position: fixed;
   right: 20px;
   width: 35px;
   object-fit: contain;
}
.nav-Links {
   position: fixed;
   list-style: nones;
   margin-left: 80px;
   margin-top: 4px;
}
.nav-Link {
   list-style: none;
   display: inline-block;
   margin-left: 40px;
   color: white;
}
.nav-Link a {
   text-decoration: none;
   color: white;
}
@media only screen and (max-width: 520px) {
   .nav {
      height: 10px;
   }
   .nav_logo {
      position: absolute;
      width: 0px;
      left: 0;
   }
   .nav_avatar {
      position: absolute;
      width: 0px;
      left: 0;
   }
   .nav-Links {
      width: 100%;
      text-align: center;
      margin: 0;
      left: 0;
      padding: 0;
      margin-left: 20px;
   }
   .nav-Link {
      text-align: center;
      list-style: none;
      display: inline-block;
      margin-right: 40px;
      margin-left: 0;
      color: white;
      font-size: 16px;
   }
}
