.row {
   position: relative;
   margin-left: 26px;
   color: white;
}
.title {
   margin-left: 26px;
   color: white;
}
.posters {
   overflow-x: scroll;
   display: flex;
   padding: 30px 25px;
}

.posters::-webkit-scrollbar {
   display: none;
}
.poster {
   max-height: 180px;
   object-fit: contain;
   width: 100%;
   transition: transform 450ms;
   margin-right: 5px;
   border-radius: 12px;
   box-shadow: 0px 5px 8px rgba(15, 15, 15, 0.808);
}
.poster:hover {
   transform: scale(1.05);
}
.posterLarge:hover {
   transform: scale(1.08);
}
.posterLarge {
   max-height: 350px;
   object-fit: contain;
   width: 100%;
   transition: transform 450ms;
   margin-right: 1.1%;
   border-radius: 12px;
   box-shadow: 0px 5px 8px rgba(17, 17, 17, 0.808);
}

/* Responsive */
@media only screen and (max-width: 1080px) {
   .poster {
      max-height: 140px;
   }
   .posterLarge {
      max-height: 256px;
   }
   .posters {
      padding: 25px;
   }
}
@media only screen and (max-width: 520px) {
   .posters {
      padding: 20px;
   }
   .poster {
      max-height: 90px;
   }
   .posterLarge {
      max-height: 180px;
   }
   .posters {
      padding: 25px;
   }
}
